/*////////////////////////////////
// GLOBAL VARS
////////////////////////////////*/

$game-rX: 1;


/*/ratio X*/

$game-rY: 2;


/*/ratio Y*/

@function calc-ratio($x,
$y,
$fill:100%) {
	$padding: $y / ($x / $fill);
	@return $padding;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transform-origin: 50% 50%;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
	-webkit-tap-highlight-color: rgba( 255, 255, 255, 0);
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: overlay;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 100;
	font-style: normal;
	/* Adjust font size */
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	font-family: 'Yantramanav', sans-serif;
	background-color: #211e1c;
}


a,
a:focus,
a:active,
a:visited {
	color: inherit;
	text-decoration: none;
}

.hidden {
	display: none!important;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

svg path {
	will-change: auto;
	stroke-width: 20px;
	stroke-miterlimit: round;
	transition: stroke-dashoffset 850ms ease-in-out;
}
b {
	color: #ffdd12;
}

/* ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
} */
/* Optional: show position indicator in red
::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

/*////////////////////////////////////////////////////////////////////
// WRAP                                                             //
///////////////////////////////////////////////////////////////////*/

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #000;
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}



/*////////////////////////////////////////////////////////////////////
// SCREENS                                                          //
///////////////////////////////////////////////////////////////////*/

.screens {
	overflow: hidden;
    position: absolute;
    width: 385vh;
    height: 100vh;;
	margin-left: 7vh;
	pointer-events:none;
	background-color:#000;
	white-space: nowrap;
	transform-origin: left;
}

@media screen and (max-width: 600px) {
	.screens {
		margin-left: 0px;
	}
}


/*////////////////////////////////////////////////////////////////////
// SIDE BAR                                                     //
///////////////////////////////////////////////////////////////////*/

.sideBar{
	width: 7vh;
	height: 100%;
	display: inline;
	position: fixed;
	background-color: #050505;
	font-family: 'Oswald', sans-serif;
	z-index: 50;
	padding-top: 10vh;
    padding-bottom: 10vh;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
	.sideBar {
		display: none;
	}
}

.sideBar-Text{
	transform: rotate(180deg);
	transform-origin: center;
	font-weight: bold;
	letter-spacing: 2px;
	color: #b2124c;
    writing-mode: vertical-rl;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
    margin-top: 40%;
	font-size: 2vh;
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
}

.sideBar-Text:hover{
	transform: scale(-1.15);
	color: #ffdd12;
}

.sideBar-socialLink{
	width: 60%;
    height: 6%;
    display: -webkit-inline-box;
	margin-left: 20%;
	margin-right: 20%;
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
	transform-origin: center;
	cursor: crosshair;   
	margin-top: 2vh;
}

.sideBar-socialLink:hover{
	transform: scale(1.4);
}

.sideBar-Link-ico{
	width: 90%;
	height: 90%;
	background-position: center;
	background-size: 70% auto;
	background-repeat: no-repeat;
}

.sideBar-Link-ico svg path {
	fill: #b2124c !important;
}


.hoverEffectThis{
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
	transform-origin: center;
}

/*////////////////////////////////////////////////////////////////////
// INTRODUCTION SECTION                                             //
///////////////////////////////////////////////////////////////////*/

.introArea{
	z-index: 10;
}

.pinkBG {
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-ms-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
	position: absolute;
	bottom: 0%;
	left: 0;
	display: block;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    width: 110vh;
    height: 200%;
    padding: 0;
    position: absolute;
    bottom: 0;
    background-color: #b2124c;
    pointer-events: none;
    /* overflow: scroll; */
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
    transform: rotate(-20deg);
	transform-origin: 150% 100%;
	z-index: 10;

}

.meImage{
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-ms-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
	position: absolute;
	bottom: -10px;
	left: -4vh;
	display: block;
	padding: 0;
	pointer-events: none;
	z-index: 10;
}
.meImage img{
	width:47vh;
	-webkit-filter: drop-shadow(30px 7px 0px #841240);
  	filter: drop-shadow(30px 7px 0px #841240);
}

@media screen and (max-width: 600px) {
	.meImage {
		bottom: -20vh;
		left: 60vh;
	}
	.meImage img{
		width: 55vh;
		-webkit-filter: drop-shadow(-10px 7px 0px #841240);
		filter: drop-shadow(-10px 7px 0px #841240);
	}
}

.helloText{
	font-size: 4vh;
    color: black;
    position: absolute;
    top: 40vh;
    left: 45vh;
    font-family: "Oswald";
	font-weight: 800;
	z-index: 10;
}

@media screen and (max-width: 600px) {
	.helloText {
		top: 5vh;
		left: 5vh;
	}
}

.nameText{
	position: absolute;
    top: 45.5vh;
    left: 48vh;
    font-size: 11vh;
    line-height: 12vh;
    font-family: "Oswald";
	font-weight: 600;
	z-index: 10;
	width: 50vh;
    overflow-wrap: break-word;
    white-space: break-spaces;
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
	transform-origin: center;
	pointer-events: all;
}

@media screen and (max-width: 600px) {
	.nameText {
		top: 10vh;
		left: 4.2vh;
		font-size: 13vh;
		line-height: 13vh;
	}
}



/* .nameText:hover{
	transform: scale(1.05);
	-webkit-transition: opacity 1s; 
	-webkit-transition: transform .3s; 
	transform-origin: center;
} */

.meDescription{
	position: absolute;
    width: 40vh;
    height: auto;
    top: 70vh;
    left: 48vh;
    display: inline-block;
    word-wrap: break-word;
    overflow: auto;
	overflow-wrap: break-word;
	white-space: break-spaces;
	font-size: 1.5vh;
	z-index: 10;
	font-weight: 400;
	letter-spacing: .1vh;
}

.meDescription b{
	color: #ffdd12;
	font-weight: 800;
}

@media screen and (max-width: 600px) {
	.meDescription {
		width: 48vh;
		top: 38vh;
		left: 5vh;
		text-align: left;
		font-size: 2.8vh;
	}
}




/*////////////////////////////////////////////////////////////////////
// PORTFOLIO SECTION                                             //
///////////////////////////////////////////////////////////////////*/

.st0{
	fill: #000;
	stroke:#282421; 
	stroke-width: 1px;
}
.introPortfolio{
	background-color: #000;
    position: absolute;
    left: 64vh;
    height: 95vh;
    width: 40vh;
    margin: 2.5vh;
    padding: 2.5vh;
	text-align: end;
	display: -webkit-inline-box;
}
@media screen and (max-width: 600px) {
	.introPortfolio {
		left: 74vh;
	}
}


.introPortfolio p{
	overflow-wrap: break-word;
    white-space: break-spaces;
    font-size: 2.2vh;
    color: #cccccc;
    padding: 0;
    margin: 0;
    letter-spacing: .5vh;
    font-weight: 800;
    opacity: .3;
	width: 50%;
	height: 5vh;
    margin-right: 0;
	margin-left: 50%;
}


.introPortfolio svg{  /* This is the first arrow going into the portfolio section */
    padding: 0;
    margin: 0;
    width: 7vh;
    margin-right: -1.5vh;
    margin-top: -.5vh;
}

.galleryRow{
	display: flex;
	height: 50%;
}

.gallery{
	height: 95vh;
	width: 170vh;
	/* background-color: #211e1c; */
	position: absolute;
	left:110vh;
	top:2.5vh;
	pointer-events: all;
	
}

@media screen and (max-width: 600px) {
	.gallery {
		left: 120vh;
	}
}


.galleryItem{
	width: 25%;
    height: auto;
    background-color: #282421;
	margin: 1vh;
	background-size: auto 100%;
	background-position: center;


}

.item1{
	background-image:url(../assets/img/portfolio/gallery/GBWorld.png);
}
.item2{
	background-image:url(../assets/img/portfolio/gallery/theToysThatMadeUs.png);
}
.item3{
	background-image:url(../assets/img/portfolio/gallery/scaryStories.png);
}
.item4{
	background-image:url(../assets/img/portfolio/gallery/GBFranchise.png);
}
.item5{
	background-image:url(../assets/img/portfolio/gallery/dollface.png);
}
.item6{
	background-image:url(../assets/img/portfolio/gallery/theGreat.png);
}
.item7{
	background-image:url(../assets/img/portfolio/gallery/PPG.png);
}
.item8{
	background-image:url(../assets/img/portfolio/gallery/christmasChronicles.png);
}

.galleryItemOverlayInfo{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity:0;
	color:white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	-webkit-transition: opacity .5s; 
	cursor: crosshair;
}

.galleryItemOverlayInfo:hover{

	opacity: .9;
}

.galleryItemText{
	margin-top: 16vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.galleryItemName{
	letter-spacing: .2vh;
    font-size: 3vh;
    font-weight: 800;
	white-space: break-spaces;

}

.galleryItemClient{
	letter-spacing: .3vh;
	font-size: 2vh;
	margin-bottom: 2vh;
	white-space: break-spaces;

}

.galleryItemSkills{
	letter-spacing: .3vh;
	font-size: 2vh;
	white-space: break-spaces;

}

/* @media screen and (max-width: 600px) {
	.homeNextButton {
		width: 10%;
	}
}
 */


 .endPortfolio{

	background-color: #000;
    position: absolute;
    left: 280.8vh;
    height: 95vh;
    width: 40vh;
    margin: 2.5vh;
    padding: 2.5vh;
	text-align: -webkit-left;
	display: -webkit-inline-box;
	
}
@media screen and (max-width: 600px) {
	.endPortfolio {
		left: 290.8vh;
	}
}

.endPortfolio p{
	overflow-wrap: break-word;
    white-space: break-spaces;
    font-size: 2.2vh;
    color: #cccccc;
    padding: 0;
    margin: 0;
    letter-spacing: .5vh;
    font-weight: 800;
    opacity: .3;
    width: 50%;
    margin-right: 0;
	position: absolute;
    bottom: 2.5vh;
	pointer-events: all;
	-webkit-transition: opacity 1s; 
	-webkit-transition: transform .3s; 
	transform-origin: center;
	margin-left: 2vh;
}


.endPortfolio p:hover{
	
	transform: scale(1.1);
	opacity: 1;
}

.endPortfolio svg{  /* This is the first arrow going into the portfolio section */
	width: 7vh;
    position: absolute;
    bottom: 2vh;
    margin-left:  -5.1vh;;
}



/*////////////////////////////////////////////////////////////////////
// ENDING AREA                                                     //
///////////////////////////////////////////////////////////////////*/


.pinkBGEnd{
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-ms-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
	position: absolute;
	bottom: 0%;
	left: 329vh;
	display: block;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    width: 110vh;
    height: 200%;
    padding: 0;
    position: absolute;
    bottom: 0;
    background-color: #b2124c;
    pointer-events: none;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
	overflow-x: scroll;
	-webkit-overflow-x-scrolling: touch;
    transform: rotate(-20deg);
	transform-origin: 150% 100%;
	z-index: 10
	
}
@media screen and (max-width: 600px) {
	.pinkBGEnd {
		left: 339vh;
	}
}

.endAreaContent{
	position: absolute;
    left: 320vh;
    top: 16vh;
    z-index: 10;
    text-align: center;
    font-weight: 800;
    font-size: 1.5vh;
    letter-spacing: .1vh;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 600px) {
	.endAreaContent {
		left: 332vh;
	}
}


.endThankYouText{
	text-align: center;
    font-size: 4vh;
    font-weight: 800;
    font-family: Oswald;
}

.endAreaAvatar{
	text-align: center;
    width: 50vh;
}

.endAreaEmail{
	padding-top:2vh;
	color: #ffdd12;

}

.endAreaResume{
	pointer-events: all;
	-webkit-transition: opacity 1s; 
	-webkit-transition: transform .3s; 
	transform-origin: center;

}

.endAreaResume:hover{
	transform: scale(1.2);
}

.endAreaSocialLinks{
	/* display: flex; */
	margin-top: 4vh;
}


.endIcon{
	width: 7vh;
	margin-left: 1vh;
	margin-right: 1vh;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
	transition-duration: 0.3s;
	transform-origin: center;
	cursor: crosshair;
	pointer-events: all;
}

.endIcon:hover{
	transform: scale(1.2);
	
}

.endAreaSocialLinksLine1{
	width: 100%;
	Display:flex;
	text-align: center;
    justify-content: center;

}
.endAreaSocialLinksLine2{
	width: 100%;
	Display:flex;
	text-align: center;
	justify-content: center;
	margin-top: -2vh;
	
}

/*////////////////////////////////////////////////////////////////////
// FRONT PORTFOLIO PANEL                                            //
///////////////////////////////////////////////////////////////////*/

.darkenPage{
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-color: black;
	opacity:0;
	z-index: 10;;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
	transition-duration: 0.3s;
	pointer-events: none;
}

.frontPortfolioPanel{

	height: 100vh;
	width: 80vh;
	position: fixed;
	transform-origin: center;
	background-color: black;
	transform: translate(-50%);
	margin-left: 50%;
	margin-right: 50%;
	z-index: 10;
	overflow: inherit;
    pointer-events: all;

}

@media screen and (max-width: 600px) {
	.frontPortfolioPanel {
		width: 100vw;
	}
}



.frontPortfolioPanelExit{
    height: 4vh;
    width: 4vh;
	position: fixed;
    top: 3vh;
	left: 7vw;
    z-index: 20;
    /* margin-left: -5vh; */
    pointer-events: all;
    cursor: crosshair;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
    transition-duration: 0.3s;
}
@media screen and (max-width: 600px) {
	.frontPortfolioPanelExit {
		background-color: black;
		padding: 4px;
		top: 2vh;
		left: 2vh;
		height: 6vh;
		width: 6vh;
	}
}



.frontPortfolioPanelExit:hover {
	transform: scale(1.2);
}


.frontPortfolioPanelExit iframe{
	border: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	pointer-events: all;
	background-color: black; !important
}


.cfix{
	background-color: black;
}
.ui-corner{
	background-color: black;
}



.portfolioBody{
	width: 100vw;
	height: 100%;
	display: grid;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

.portfolioBody iframe{
	width: 100vw;
	height: 40vh;

}

.imageTopIntro{
	width: 100vw;

}

.imageSeparator{
	width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.imageRow{
	white-space: nowrap;
    text-align: center;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 600px) {
	.imageRow {
		white-space: nowrap;
		text-align: center;
		width: 100vw;
		margin-left: 0;
		margin-right: 0;
	}
}

.imageRow img{
	display: block;
    float: left;
    margin: 1%;
}

.row_5Pieces{
	width: 18%;
}
.row_4Pieces{
	width: 23%;
}

.row_3Pieces{
	width: 31.3%;
}
.row_2Pieces{
	width: 45%;
}

.moreInfoButton{
	pointer-events: all;
	color: white;
    font-size: 2.5vh;
    text-align: center;
    margin: 7vh;
    padding: 1vh;
    /* outline: white; */
    outline-width: 1px;
    outline-color: white;
	outline-style: dashed;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
	transition-duration: 0.2s;
	opacity: .3;
}

.moreInfoButton:hover{
	opacity: 1;
	transform: scale(1.1);
	
}

@media screen and (max-width: 600px) {
	.moreInfoButton {
		margin-bottom: 20vh; */
		width: 100vw;
		margin: 10vh;
		margin-left: 0;
		margin-right: 0;
		opacity: .8;
	}
}


.bodyGBWorld{
	background-color: #0C0F12;
}
