/*////////////////////////////////
// GLOBAL VARS
////////////////////////////////*/

$game-rX: 1;


/*/ratio X*/

$game-rY: 2;


/*/ratio Y*/

@function calc-ratio($x,
$y,
$fill:100%) {
	$padding: $y / ($x / $fill);
	@return $padding;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transform-origin: 50% 50%;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
	-webkit-tap-highlight-color: rgba( 255, 255, 255, 0);
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: none !important;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 100;
	font-style: normal;
	/* Adjust font size */
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	font-family: 'Yantramanav', sans-serif;
	background-color: black;
}


a,
a:focus,
a:active,
a:visited {
	color: inherit;
	text-decoration: none;
}

.hidden {
	display: none!important;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

svg path {
	will-change: auto;
	stroke-width: 20px;
	stroke-miterlimit: round;
	transition: stroke-dashoffset 850ms ease-in-out;
}
b {
	color: #ffdd12;
}

/* ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
} */
/* Optional: show position indicator in red
::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

/*////////////////////////////////////////////////////////////////////
// WRAP                                                             //
///////////////////////////////////////////////////////////////////*/

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #000;
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}





/*////////////////////////////////////////////////////////////////////
// LOADING PAGE                                                    //
///////////////////////////////////////////////////////////////////*/



.loadingPage{
	position: fixed;
    height: 105%;
    width: 105%;
    background-color: #b2124c;
    z-index: 60;
    top: 0;
    left: 0;
    text-align: center;
	align-content: center;
	pointer-events: none;
}

.loadingBarBG{
	margin-top: 30.2vh;
    /* margin-top: 50%; */
    /* margin-bottom: 50%; */
    position: fixed;
    left: 43.28vw;
    border: blue;
    width: 18.3vw;
    height: 18.3vw;
    background-color: #841240;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto; */
    border: 16px solid #841240;
    border-radius: 50%;
    border-top: 16px solid #ffdd12;
   -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;

}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media screen and (max-width: 600px) {
	.loadingBarBG {

		margin-top: 30.6vh;
		width: 50vw;
		height: 50vw;
		left: 27.6vw;
		
	}
}


.loadingImage{
	position: absolute;
    width: 17vw;
    top: 30.6vh;
    left: 43.99vw;
}
@media screen and (max-width: 600px) {
	.loadingImage {

		position: absolute;
		width: 46vw;
		top: 31.2vh;
		left: 29.5vw;
		
	}
}

}

.loadingBarOutside{
	width: 40vw;
    height: 3vh;
    border-style: solid;
    border-color: #841240;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vh;

}

.loadingBar{
	width: 39.7vw;
    height: 2.4vh;
    background-color: #841240;
    border-radius: 3vh;

}
.loaderPercentText{
	font-size: 4vh;
	color: white;

}



/*////////////////////////////////////////////////////////////////////
// SCREENS                                                          //
///////////////////////////////////////////////////////////////////*/

.screens {
	overflow: hidden;
    position: absolute;
    width: 385vh;
    height: 100vh;
	margin-left: 7vh;
	pointer-events:none;
	background-color:#000;
	white-space: nowrap;
	transform-origin: left;
}

@media screen and (max-width: 600px) {
	.screens {
		margin-left: 0px;
        width: 100%;
        height: 480vh;
	}
}
/* @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .screens {                           
		height: 90vh;
		margin-top: 5vh;
                     
    }                       
}   
                                            
                  
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {                         
    .screens {                           
		height: 90vh;
		margin-top: 5vh;                    
    }                       
}
                                               
               
@media screen and (device-aspect-ratio: 40/71) {                              
    .screens {                           
		height: 90vh;
		margin-top: 5vh;
                
    }                       
} */


/*////////////////////////////////////////////////////////////////////
// SIDE BAR                                                     //
///////////////////////////////////////////////////////////////////*/

.sideBar{
	width: 7vh;
	height: 100%;
	display: inline;
	position: fixed;
	background-color: #050505;
	font-family: 'Oswald', sans-serif;
	z-index: 15;
	padding-top: 10vh;
    padding-bottom: 10vh;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
	.sideBar {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	.sideBar {
		position: absolute;
	}
}

.sideBar-Text{
	transform: rotate(180deg);
	transform-origin: center;
	font-weight: bold;
	letter-spacing: 2px;
	color: #b2124c;
    writing-mode: vertical-rl;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40%;
    margin-top: 40%;
	font-size: 2vh;
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
}

.sideBar-Text:hover{
	transform: scale(-1.15);
	color: #ffdd12;
}

.sideBar-socialLink{
	width: 60%;
    height: 6%;
    display: -webkit-inline-box;
	margin-left: 20%;
	margin-right: 20%;
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
	transform-origin: center;
	cursor: crosshair;   
	margin-top: 2vh;
}

.sideBar-socialLink:hover{
	transform: scale(1.4);
}

.sideBar-Link-ico{
	width: 90%;
	height: 90%;
	background-position: center;
	background-size: 70% auto;
	background-repeat: no-repeat;
}

.sideBar-Link-ico svg path {
	fill: #b2124c !important;
}


.hoverEffectThis{
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
	transform-origin: center;
}

/*////////////////////////////////////////////////////////////////////
// INTRODUCTION SECTION                                             //
///////////////////////////////////////////////////////////////////*/

.introArea{
	z-index: 10;
}

.pinkBG {
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-ms-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
	position: absolute;
	bottom: 0%;
	left: 0;
	display: block;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    width: 110vh;
    height: 200%;
    padding: 0;
    position: absolute;
    bottom: 0;
    background-color: #b2124c;
    pointer-events: none;
    /* overflow: scroll; */
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
    transform: rotate(-20deg);
	transform-origin: 150% 100%;
	z-index: 10;

}

@media screen and (max-width: 600px) {
	.pinkBG {
		transform: rotate(-70deg);
        transform-origin: 100% 50%;
	}
}

.meImage{
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-ms-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
	position: absolute;
	bottom: -10px;
	left: -4vh;
	display: block;
	padding: 0;
	pointer-events: none;
	z-index: 10;
}
.meImage img{
	width:47vh;
	-webkit-filter: drop-shadow(30px 7px 0px #841240);
	filter: drop-shadow(30px 7px 0px #841240);
	left: 20vw;
	top: 20vh;
}

@media screen and (max-width: 600px) {
	.meImage {
		top: 50vh;
		left: 34vw;
	}
	.meImage img{
		width: 45vh;
		-webkit-filter: drop-shadow(-10px 7px 0px #841240);
		filter: drop-shadow(-10px 7px 0px #841240);
	}
}

.helloText{
	font-size: 4vh;
    color: black;
    position: absolute;
    top: 40vh;
    left: 45vh;
    font-family: "Oswald";
	font-weight: 800;
	z-index: 10;
}

@media screen and (max-width: 600px) {
	.helloText {
		top: 8vh;
		left: 5vh;
	}
}

.nameText{
	position: absolute;
    top: 45.5vh;
    left: 48vh;
    font-size: 11vh;
    line-height: 12vh;
    font-family: "Oswald";
	font-weight: 600;
	z-index: 10;
	width: 50vh;
    overflow-wrap: break-word;
	white-space: break-spaces;
	white-space: pre-wrap;
	-webkit-transition: opacity 1s; /* Safari */
	-webkit-transition: transform .3s; /* Safari */
	transform-origin: center;
	pointer-events: all;
}

@media screen and (max-width: 600px) {
	.nameText {
		top: 14vh;
		left: 4.2vh;
		font-size: 22vw;
		line-height: 22vw;
	}
}



/* .nameText:hover{
	transform: scale(1.05);
	-webkit-transition: opacity 1s; 
	-webkit-transition: transform .3s; 
	transform-origin: center;
} */

.meDescription{
	position: absolute;
    width: 40vh;
    height: auto;
    top: 70vh;
    left: 48vh;
    display: inline-block;
    word-wrap: break-word;
    overflow: auto;
	overflow-wrap: break-word;
	white-space: break-spaces;
	white-space: pre-wrap;
	font-size: 1.5vh;
	z-index: 10;
	font-weight: 400;
	letter-spacing: .1vh;
}

.meDescription b{
	color: #ffdd12;
	font-weight: 800;
}

@media screen and (max-width: 600px) {
	.meDescription {
		width: 29vh;
		top: 40vh;
		left: 5vh;
		text-align: left;
		font-size: 2vh;
		margin-top: 6vw;
	}
}

.keepScroll{
	position: absolute;
    width: 40vh;
    height: auto;
    top: 78vh;
    left: 48vh;
    display: inline-block;
    word-wrap: break-word;
    overflow: auto;
    overflow-wrap: break-word;
    white-space: break-spaces;
    white-space: pre-wrap;
    font-size: 1.5vh;
    font-weight: 800;
    z-index: 10;
    font-weight: 600;
    letter-spacing: .1vh;
	color: #ffdd12;
	display: inline-flex;
}
@media screen and (max-width: 600px) {
	.keepScroll {
		width: 20vh;
		top: 56vh;
		left: 5vh;
		text-align: left;
		font-size: 2vh;
		display: block;
	}
}

.keepScrollText{
	margin-top: auto;
	margin-bottom: auto;

}

@media screen and (max-width: 600px) {
	.keepScrollText {

	}
}

.bm{
	width: 4vh;
}

@media screen and (max-width: 600px) {
	.bm {
		transform: rotate(90deg);
		margin: 0;
		margin-top: -2vh;;
		margin-left:-1vh
	}
}




/*////////////////////////////////////////////////////////////////////
// PORTFOLIO SECTION                                             //
///////////////////////////////////////////////////////////////////*/

.st0{
	fill: #000;
	stroke:#282421; 
	stroke-width: 1px;
}
.introPortfolio{
	background-color: #000;
    position: absolute;
    left: 64vh;
    height: 95vh;
    width: 40vh;
    margin: 2.5vh;
    padding: 2.5vh;
	text-align: end;
	display: -webkit-inline-box;
}


.introPortfolio p{
	overflow-wrap: break-word;
    white-space: break-spaces;
    font-size: 2.2vh;
    color: #cccccc;
    padding: 0;
    margin: 0;
    letter-spacing: .5vh;
    font-weight: 800;
    opacity: .3;
	width: 50%;
	height: 5vh;
    margin-right: 0;
	margin-left: 50%;
}


.introPortfolio svg{  /* This is the first arrow going into the portfolio section */
    padding: 0;
    margin: 0;
    width: 7vh;
    margin-right: -1.5vh;
    margin-top: -.5vh;
}

@media screen and (max-width: 600px) {
	.introPortfolio {
		left: 0vw;
		height: 85vh;
		width: 100vw;
		top: 85vh;
	}

	.introPortfolio p{
		margin: 0;
		text-align: left;
		width: auto;
		left:0vw;
		margin-left: 0;
		
	}
	.introPortfolio svg{  /* This is the first arrow going into the portfolio section */
		padding: 0;
		margin: 0;
		width: 7vh;
		margin-top: -.5vh;
		transform: rotate(90deg);
	}
}


.mobileReel{
	display:none;

}

@media screen and (max-width: 600px) {
	.mobileReel{
		position: absolute;
		top: 107.3vh;
		width: 100vw;
		height: 30vh;
		z-index: 20;
		display: block;
		overflow: hidden;
	}
	
	.mobileReel iframe{
		width: 100vw;
		height: 30vh;
		top: 0;
	}
}


.galleryRow{
	display: flex;
	height: 50%;
}

@media screen and (max-width: 600px) {
	.galleryRow {
		display: block;
	}
}

.gallery{
	height: 95vh;
	width: 170vh;
	/* background-color: #211e1c; */
	position: absolute;
	left:110vh;
	top:2.5vh;
	pointer-events: all;
	
}

@media screen and (max-width: 600px) {
	.gallery {
		left: 0vw;
		top: 105vh;
		width: 100vw;
		height: auto;
		z-index: 20;
	}
}


.galleryItem{
	width: 25%;
    height: auto;
    background-color: #282421;
	margin: 1vh;
	background-size: auto 100%;
	background-position: center;


}
.galleryItem2{
	width: 25%;
    height: auto;
    background-color: #282421;
	margin: 1vh;
	background-size: auto 100%;
	background-position: center;
	margin-bottom: 0;

}

@media screen and (max-width: 600px) {
	.galleryItem {
		/* background-size: 100% auto; */
		background-size: cover;
		width: 100vw;
		background-repeat: no-repeat;
		margin: 0;
		margin-bottom: 1vh;
		height: 30vh;
		background-color: black;

	}
	.galleryItem2 {
		/* background-size: 100% auto; */
		width: 100vw;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0;
		margin-bottom: 1vh;
		height: 30vh;
		background-color: black;
	}
}

.item1{
	background-image:url(../assets/img/portfolio/gallery/motionReel.jpg);
}
.item2{
	background-image:url(../assets/img/portfolio/gallery/theToysThatMadeUs.jpg);
}
.item3{
	background-image:url(../assets/img/portfolio/gallery/GBWorld.jpg);
}
.item4{
	background-image:url(../assets/img/portfolio/gallery/GBFranchise.jpg);
}
.item5{
	background-image:url(../assets/img/portfolio/gallery/dollface.jpg);
}
.item6{
	background-image:url(../assets/img/portfolio/gallery/theGreat.jpg);
}
.item7{
	background-image:url(../assets/img/portfolio/gallery/PPG.jpg);
}
.item8{
	background-image:url(../assets/img/portfolio/gallery/christmasChronicles.jpg);
}


@media screen and (max-width: 600px) {

	.item1{
		background-image:url(../assets/img/portfolio/gallery/motionReel_mob.jpg);
		visibility: hidden;
		pointer-events: none;

	}
	.item2{
		background-image:url(../assets/img/portfolio/gallery/theToysThatMadeUs_mob.jpg);
	}
	.item3{
		background-image:url(../assets/img/portfolio/gallery/GBWorld_mob.jpg);
	}
	.item4{
		background-image:url(../assets/img/portfolio/gallery/GBFranchise_mob.jpg);
	}
	.item5{
		background-image:url(../assets/img/portfolio/gallery/dollface_mob.jpg);
	}
	.item6{
		background-image:url(../assets/img/portfolio/gallery/theGreat_mob.jpg);
	}
	.item7{
		background-image:url(../assets/img/portfolio/gallery/PPG_mob.jpg);
	}
	.item8{
		background-image:url(../assets/img/portfolio/gallery/christmasChronicles_mob.jpg);
	}
	
}



.galleryItemOverlayInfo{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity:0;
	color:white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	-webkit-transition: opacity .5s; 
	cursor: crosshair;
}

.galleryItemOverlayInfo:hover{

	opacity: .9;
}

.galleryItemText{
	margin-top: 16vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.galleryItemName{
	letter-spacing: .2vh;
    font-size: 3vh;
    font-weight: 800;
	white-space: pre-wrap;

}

.galleryItemClient{
	letter-spacing: .3vh;
	font-size: 2vh;
	margin-bottom: 2vh;
	white-space: pre-wrap;

}

.galleryItemSkills{
	letter-spacing: .3vh;
	font-size: 2vh;
	white-space: break-spaces;

}

/* @media screen and (max-width: 600px) {
	.homeNextButton {
		width: 10%;
	}
}
 */


 .endPortfolio{

	background-color: #000;
    position: absolute;
    left: 280.8vh;
    height: 95vh;
    width: 40vh;
    margin: 2.5vh;
    padding: 2.5vh;
	text-align: -webkit-left;
	display: -webkit-inline-box;
	
}

.endPortfolio p{
	overflow-wrap: break-word;
    white-space: break-spaces;
    font-size: 2.2vh;
    color: #cccccc;
    padding: 0;
    margin: 0;
    letter-spacing: .5vh;
    font-weight: 800;
    opacity: .3;
    width: 50%;
    margin-right: 0;
	position: absolute;
    bottom: 10.5vh;
	pointer-events: all;
	-webkit-transition: opacity 1s; 
	-webkit-transition: transform .3s; 
	transform-origin: center;
	margin-left: 2vh;
}
@media screen and (max-width: 600px) {
	.endPortfolio {
		left: 30vw;
		bottom: auto;
		top: 290vh;
		left: 50vw;
		height: 85vh;
	}
}



.endPortfolio p:hover{
	
	transform: scale(1.1);
	opacity: 1;
}

.endPortfolio svg{  /* This is the first arrow going into the portfolio section */
	width: 7vh;
    position: absolute;
    bottom: 10vh;
    margin-left:  -5.1vh;;
}



/*////////////////////////////////////////////////////////////////////
// ENDING AREA                                                     //
///////////////////////////////////////////////////////////////////*/


.pinkBGEnd{
	-webkit-transform: translate3d( 0, 0, 0);
	-moz-transform: translate3d( 0, 0, 0);
	-ms-transform: translate3d( 0, 0, 0);
	transform: translate3d( 0, 0, 0);
	position: absolute;
	bottom: 0%;
	left: 329vh;
	display: block;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    background-position: center;
    width: 110vh;
    height: 200%;
    padding: 0;
    position: absolute;
    bottom: 0;
    background-color: #b2124c;
    pointer-events: none;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
	overflow-x: scroll;
	-webkit-overflow-x-scrolling: touch;
    transform: rotate(-20deg);
	transform-origin: 150% 100%;
	z-index: 10
	
}
@media screen and (max-width: 600px) {
	.pinkBGEnd {
		left: 100vw;
		transform: rotate(-70deg);
		transform-origin: 0% 100%;
		bottom: -25vh;
	}
}

.endAreaContent{
	position: absolute;
    left: 320vh;
    top: 16vh;
    z-index: 10;
    text-align: center;
    font-weight: 800;
    font-size: 1.5vh;
    letter-spacing: .1vh;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width: 600px) {
	.endAreaContent {
		left: 0vw;
		top: 395vh;
		width: 100vw;
	}
}


.endThankYouText{
	text-align: center;
    font-size: 4vh;
    font-weight: 800;
    font-family: Oswald;
}

@media screen and (max-width: 600px) {
	.endThankYouText {
		width: 60vw;
		overflow-wrap: break-word;
		/* white-space: break-spaces; */
		white-space: pre-wrap;
		line-height: 4vh;
		margin-bottom: 2vh;
		margin-left: auto;
		margin-right: auto;
	}
}

.endAreaAvatar{
	text-align: center;
    width: 50vh;
}
@media screen and (max-width: 600px) {
	.endAreaAvatar {
		width:100vw;
	}
}

.endAreaEmail{
	padding-top:2vh;
	color: #ffdd12;

}
@media screen and (max-width: 600px) {
	.endAreaEmail {
		padding-top: 2vh;
		color: #ffdd12;
		font-size: 3vh;
		padding-bottom: 1vh;
	}
}


.endAreaResume{
	pointer-events: all;
	-webkit-transition: opacity 1s; 
	-webkit-transition: transform .3s; 
	transform-origin: center;

}
@media screen and (max-width: 600px) {
	.endAreaResume {
		font-size: 2.35vh;
	}
}


.endAreaResume:hover{
	transform: scale(1.2);
}

.endAreaSocialLinks{
	/* display: flex; */
	margin-top: 4vh;
}


.endIcon{
	width: 7vh;
	margin-left: 1vh;
	margin-right: 1vh;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
	transition-duration: 0.3s;
	transform-origin: center;
	cursor: crosshair;
	pointer-events: all;
}

.endIcon:hover{
	transform: scale(1.2);
	
}

.endAreaSocialLinksLine1{
	width: 100%;
	Display:flex;
	text-align: center;
    justify-content: center;

}
.endAreaSocialLinksLine2{
	width: 100%;
	Display:flex;
	text-align: center;
	justify-content: center;
	margin-top: -2vh;
	
}

/*////////////////////////////////////////////////////////////////////
// FRONT PORTFOLIO PANEL                                            //
///////////////////////////////////////////////////////////////////*/

.darkenPage{
	height: 100vh;
	width: 100vw;
	top: 0vw;
	position: fixed;
	background-color: black;
	opacity:0;
	z-index: 10;;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
	transition-duration: 0.3s;
	pointer-events: none;
}

.frontPortfolioPanel{

	height: 100vh;
	top: 0vw;
	width: 50%;
	position: fixed;
	transform-origin: center;
	background-color: black;
	transform: translate(-50%);
	margin-left: 50%;
	margin-right: 50%;
	z-index: 20;
	overflow: inherit;
    pointer-events: all;

}

@media screen and (max-width: 1300px) {
	.frontPortfolioPanel {

		width: 102vw;
    	transform: translate(-53.4%);
	}
}



.frontPortfolioPanelExit{
    height: 4vh;
    width: 4vh;
	position: fixed;
    top: 3vh;
	left: 7vw;
    z-index: 30;
    /* margin-left: -5vh; */
    pointer-events: all;
    cursor: crosshair;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
	transition-duration: 0.3s;
}
@media screen and (max-width: 1300px) {
	.frontPortfolioPanelExit {
		background-color: black;
		padding: 4px;
		top: 4vh;
		left: 10vh;
		height: 8vh;
		width: 8vh;
		-webkit-filter: drop-shadow(3px 3px 0px #ffdd12 );
		filter: drop-shadow(3px 3px 0px #ffdd12);
}


	}
}
	
@media screen and (max-width: 600px) {
	.frontPortfolioPanelExit {
		background-color: black;
		padding: 4px;
		top: 8vh;
		left: 2vh;
		height: 6vh;
		width: 6vh;
		-webkit-filter: drop-shadow(3px 3px 0px #ffdd12 );
  		filter: drop-shadow(3px 3px 0px #ffdd12);
	}
}



.frontPortfolioPanelExit:hover {
	transform: scale(1.2);
}


.frontPortfolioPanelExit iframe{
	border: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	pointer-events: all;
	background-color: black; !important
}


.cfix{
	background-color: black;
}
.ui-corner{
	background-color: black;
}



.portfolioBody{
	width: 100%;
	height: 100%;
	display: grid;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

.portfolioBody iframe{
	width: 100%;
	height: 40vh;

}

@media screen and (max-width: 1300px) {
	.portfolioBody iframe{
		width: 100vw;
		height: 60vh;
	}
}


.imageTopIntro{
	width: 100%;
	margin-bottom:5vh;

}
@media screen and (max-width: 1300px) {
	.imageTopIntro{
		width: 100vw;
	}
}

.projectText{
	width: 100%;
	color: white;
	text-align: center;
	display: inline-block;
    white-space: normal;
	padding: 5vh;
}
@media screen and (max-width: 1300px) {
	.projectText{
		width: 100vw;
		padding-top: 0;
	}
}

.projectTitle{
	padding: 0;
	font-weight: 800;
	font-size: 3vh;
	letter-spacing: .4vh;
}

@media screen and (max-width: 1300px) {
	.projectTitle{
		font-size: 5vh;
	}
}


.projectSubtitle{
	padding-top: 1vh;
	padding-bottom: 2vh;
	font-weight: 800;
	opacity: .5;


}
@media screen and (max-width: 600px) {
	.projectSubtitle{
		padding-top: 2vh;
		padding-bottom: 4vh;
	}
}
.projectSummary{
	font-weight: 300;
}

.imageSeparator{
	width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
@media screen and (max-width: 1300px) {
	.imageSeparator{
		width: 100vw;
	}
}

.imageRow{
	white-space: nowrap;
    text-align: center;
    width: 100%;
}

.imageRow img{
	display: block;
    float: left;
    margin: 1%;
}
@media screen and (max-width: 1300px) {
	.imageRow {
		width: 100vw;
	}
}


.row_5Pieces{
	width: 18%;
}
@media screen and (max-width: 600px) {
	.row_5Pieces {
		width: 48%;
	}
}

.row_4Pieces{
	width: 23%;
}
@media screen and (max-width: 600px) {
	.row_4Pieces {
		width: 48%;
	}
}


.row_3Pieces{
	width: 31.3%;
}
.row_2Pieces{
	width: 47.7%;
}



.row_1Pieces{
	width: 98%;
    margin: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.moreInfoButton{
	pointer-events: all;
	color: white;
    font-size: 2.5vh;
    text-align: center;
    margin: 7vh;
    padding: 1vh;
    /* outline: white; */
    outline-width: 1px;
    outline-color: white;
	outline-style: dashed;
	transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1.8);
	transition-duration: 0.2s;
	opacity: .3;
	width: 87%;
	font-weight: 600;
}


.moreInfoButton:hover{
	opacity: 1;
	transform: scale(1.1);
	
}
@media screen and (max-width: 600px) {
	.moreInfoButton {
		width: 100vw;
	}
}

.spaceAfterPortfolioPage{
	width: 100%;
	height: 15vh;;
}

@media screen and (max-width: 600px) {
	.moreInfoButton {
		margin-bottom: 20vh;
		width: 100%;
		margin: 10vh;
		margin-left: 0;
		margin-right: 0;
		opacity: .8;
	}
}


.bodyGBWorld{
	background-color: #0C0F12;
}
